/*
 * Edit nav
 */
.ul-nav {
	margin: 0 0 2em 0;
}

/*
 * No pages notice
 */
.none-notice {
	display: flex;
	justify-content: center;
	margin: 0 0 8em 0;
}

/*
 * Add page link
 */
.link-row {
	display: flex;
	justify-content: flex-end;
}

.protected-link {
	font-size: 1.5em;
}

/*
 * Page list styles
 */
.page-list .page-item {
	border: 2px solid #d6d6d6;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.09);
	font-size: 1.25em;
	line-height: 3em;
	overflow: hidden;
	padding: 0 0 0 1em;
	white-space: nowrap;
}

.page-list .page-item * {
	color: inherit;
}
