/*
 * Sidebar styles
 */
.landing-sidebar > .row:nth-child(2) {
	font-size: 1.5em;
	margin-top: 1.5em;
	text-align: center;
}

/*
 * Search form styles
 */
.search-form input[type=text], input[type=submit] {
	width: 100%;
}

.search-form .header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.search-form .collapsible-field-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.search-form .content {
	padding: 0 0 1em 0;
}

.search-form .inline-radio {
	margin: 0 1.25em 0 0;
}

.search-form .relative-date-fields div:first-child {
	margin: 0 0 20px 0;
}

.search-form .caret:hover, .master-caret:hover {
	cursor: pointer;
}

