
h3 {
	font-size: 1.5em;
	text-decoration: underline;
}

.response-details, .response-feed-container {
	font-size: 1.5em;
}

.response-details > div {
	margin-bottom: 3em;
}

form input[type="submit"] {
	margin-top: 1em;
	font-size: .85em;
	float: right;
}
